@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;

  --background-color: #03021c;
  --text-color: #d5d1fc;
  --primary-color: #7c75f6;
  --secondary-color: #9d0a25;
  --accent-color: #f07e10;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
